<div class="row">
    <div class="col-xs-12">
            <h3>Signaling Network Demo</h3>
            This demonstration aims at reconstitute signaling network from genes, through Semantic Web.<br />
            We are querying PathwayCommons with SPARQL queries to get interactions (e.g. Catalysis, Transcritpional factors, Phosphorylation) that control your list of genes.
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-xs-6">
        <label for="inputGeneList">Your list of genes</label>
        <div class="input-group">
                <input type="text" class="form-control" id="inputSignalingGeneList" placeholder="EGFR,GRB2,SOS1,KRAS,BRAF" value="EGFR,GRB2,SOS1,KRAS,BRAF">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btnSearchSignalingNetwork">Go!</button>
                </span>
                
        </div><!-- /input-group -->
        <a class="label label-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSparql" style="margin-right:0.3em">
            <i class="material-icons" style="font-size:11px;">visibility</i> show SPARQL query example
        </a>
        <span class="label label-info" id="total-info-nodes"></span>
        <span class="label label-info" id="total-info-edges"></span>
    </div>
    <div class="col-xs-6">
        <div></div>
        <span class="label label-info" id="sendingQuery" style="display:none;">Your query is running...</span>
        <span class="label label-warning" id="emptyQuery" style="display:none;">Please write your query before sending.</span>
        <span class="label label-danger" id="errorQuery" style="display:none;">It seems like an error occurred during your query. Please contact administrator.</span>
        <span class="label label-info" id="noResult" style="display:none;">No result found.</span>
    </div>
</div>
    
<p></p>

<div class="row">
    <div class="col-xs-8">
        <div id="collapseSparql" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSparql" style="font-size:10px;">
            <div class="panel-body">
                <p id="SPARQLquery">
                    &#35; Initial query <br />
                    PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; <br />
                    PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; <br />
                    PREFIX owl: &lt;http://www.w3.org/2002/07/owl#&gt; <br />
                    PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; <br />
                    PREFIX bp: &lt;http://www.biopax.org/release/biopax-level3.owl#&gt; <br />

                    CONSTRUCT { <br />
                      ?reaction rdf:type ?type ; bp:right ?right ; bp:controller ?controller ; bp:left ?participant ; bp:dataSource ?source ; bp:controlType ?controlType .<br />
                      ?right a ?rightType ; bp:displayName ?rightName ; bp:dataSource ?rightSource .<br />
                      ?participant a ?participantType ; bp:displayName ?participantName ; bp:dataSource ?participantSource .<br />
                      ?controller a ?controllerType ; bp:displayName ?controllerName ; bp:dataSource ?controllerSource .<br />
                    }WHERE{<br />
                      OPTIONAL { <br />
                        ?catalysis bp:controller ?controller ; bp:controlType ?controlType .<br />
                        ?controller bp:displayName ?controllerName ; rdf:type ?controllerType ; bp:dataSource ?controllerSource .<br />
                      }<br />
                      FILTER (str(?source) != 'http://pathwaycommons.org/pc2/mirtarbase') <br />

                      ?catalysis bp:controlled* ?reaction .<br />
                      ?reaction bp:right ?right ; bp:dataSource ?source ; rdf:type ?type .<br />
                      ?reaction bp:left|bp:right ?participant .<br />
                      ?participant bp:displayName ?participantName ; rdf:type ?participantType ; bp:dataSource ?participantSource .<br />
                      ?right bp:displayName ?rightName ; rdf:type ?rightType ; bp:dataSource ?rightSource .<br />

                      VALUES ?rightName { 'GENENAME'^^xsd:string }<br />
                    }<br />
                    order by ?catalysis
                </p>
            </div>
        </div>
    </div>
</div>

<p></p>

<div class="row">
    <div class="col-xs-10">
            <div id="edge-tooltip" style="height:20px; background-color: #fff; color: #fff; text-align: center;float: right;display: block"></div>
            <div id="cy" style="min-width: 400px; height:600px; display:block;"></div>
    </div>
    <div class="col-xs-2">    
            <div class="panel panel-default" id="next-level-signaling" style="min-width:230px;font-size:12px;display:none;">
                <div class="panel-heading">
                    <label>Select entities to add their signaling connexion</label>
                </div>
                <div class="panel-body">
                    <div class="input-group" id="input-next-signaling"  style="max-height:310px;overflow:auto;display:block;">

                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" type="button" id="btnRunNextSignaling">Run</button>
                </div>
            </div>
            <div class="panel panel-default" id="graphe-legend" style="min-width:230px;font-size:12px;display:none;">
                <div class="panel-heading">
                    <label><i class="glyphicon glyphicon-info-sign"></i> Legend</label>
                </div>
                <div class="panel-body">
                        <div class="legend">
                        <i class="glyphicon glyphicon-arrow-right" style="color:#3399ff;opacity:100;"></i> = Activation <br />
                        <i class="glyphicon glyphicon-arrow-right" style="color:#000000;opacity:100;"></i> = Inhibition <br />
                        <i class="glyphicon glyphicon-arrow-right" style="color:#000000;"></i> = unknown <br />
                        <i style="color:#3399ff;font-size: 19px;opacity:100;"><b>&#8674;</b></i> = TFs <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:red;display:inline-block;"></div> = initial input <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#FFBF00;display:inline-block;"></div> = last input <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#8904B1;display:inline-block;"></div> = controller <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #3366ff;display:inline-block;"></div> = DNA <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #00b33c;display:inline-block;"></div> = RNA <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #0A0A0A;display:inline-block;"></div> = Protein <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #EE6FE9;display:inline-block;"></div> = Complex <br />
                        <div class="diamond" style="width:0;height: 0; border: 8px solid transparent; border-bottom: 4px solid #666; position: relative; top: -8px;display:inline-block;"></div> = Small Moclecule <br />
                        </div>
                </div>
            </div>
            <button type="button" class="btn btn-default" id="btn-download" style="margin-bottom:5px;display:none;">
                <a id="a" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </button>
    </div>
</div>

<br />
