<div class="row">
    <div class="col-xs-12">
            <h3>System Biology Demo</h3>
            BLABLA
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-xs-6">
        <label for="inputGeneList">Your list of gene</label>
        <div class="input-group">
                <input type="text" class="form-control" id="inputGeneList" placeholder="" value="">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btnGalaxyHist">Go!</button>
                </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="cy" style="min-width: 310px; height:500px; display:block;"></div>
	</div>
</div>