<div class="row">
    <div class="col-xs-12">
            <h3>System Biology Demo</h3>
            This demonstration aims at reconstitute network from genes, through Semantic Web.
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
            <!--<span class="input-group-btn">-->
                <button class="btn btn-default" type="button" id="btnRegulatoryNetwork">Regulatory Network</button>
            <!--</span>-->
            <!--<span class="input-group-btn">-->
                <button class="btn btn-default" type="button" id="btnSignalingNetwork">Signaling Network</button>
            <!--</span>-->
        </div><!-- /input-group -->
    </div>
</div>
