<div class="row">
    <div class="col-xs-12">
            <h3>System Biology Demo</h3>
            This demonstration aims at reconstitute network from genes, through Semantic Web.
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-xs-6">
        <label for="inputGeneList">Your list of genes</label>
        <div class="input-group">
                <input type="text" class="form-control" id="inputGeneList" placeholder="AGPAT6,GALT,DHCR24,FTFD1,CAD" value="AGPAT6,GALT,DHCR24,FTFD1,CAD">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="btnSearchNetwork">Go!</button>
                </span>
                
        </div><!-- /input-group -->
    </div>
    <div class="col-xs-6">
        <div></div>
        <p class="sendingQuery" id="sendingQuery" style="display:none;">Your query is running...</p>
        <p class="emptyQuery" id="emptyQuery" style="display:none;">Please write your query before sending.</p>
        <p class="errorQuery" id="errorQuery" style="display:none;">It seems like an error occurred during your query. Please contact administrator.</p>
    </div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="cy" style="min-width: 400px; height:600px; display:block;"></div>
	</div>
</div>