<div class="row">
    <div class="col-xs-12">
        <h3 class="feature-title"><b>Regulatory Network</b></h3>
        <hr>
            This demonstration aims at reconstitute regulatory network from genes, through Semantic Web.<br />
            We are querying <a href="http://www.pathwaycommons.org/">PathwayCommons</a> with SPARQL queries to get the transcriptional factors that control your list of entities.<br />
            Names or IDs (HGNC, Uniprot or NCBI) can be used.
    </div>
</div>

<p></p>

<div class="row">
    <div class="col-xs-2">
        <div class="btn-group" data-toggle="buttons" style="padding-top: 28px;">
            <label class="btn btn-default active" id="query-type">
                <input type="radio" checked="checked" autocomplete="off" name="query-type" value="name">Name
            </label>
            <label class="btn btn-default" id="query-type">
                <input type="radio" autocomplete="off" name="query-type" value="id">Id
            </label>
        </div>
    </div>
    <div class="col-xs-6">
        <label for="inputGeneList">Your list of genes</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inputGeneList" placeholder="AGPAT6,GALT,DHCR24,FTFD1,CAD" value="AGPAT6,GALT,DHCR24,FTFD1,CAD">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="btnSearchRegulatoryNetwork">Go!</button>
            </span>
                
        </div><!-- /input-group -->
        <a class="label label-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSparql" style="margin-right:0.3em">
            <i class="material-icons" style="font-size:11px;">visibility</i> show SPARQL query example
        </a>
        <span class="label label-info" id="total-info-nodes"></span>
        <span class="label label-info" id="total-info-edges"></span>        
        
    </div>
    
    <div class="col-xs-4">
        <div></div>
        <span class="label label-info" id="sendingQuery" style="display:none;">Your query is running...</span>
        <span class="label label-warning" id="emptyQuery" style="display:none;">Please write your query before sending.</span>
        <span class="label label-danger" id="errorQuery" style="display:none;">It seems like an error occurred during your query. Please contact administrator.</span>
        <span class="label label-info" id="noResult" style="display:none;">No result found.</span>
    </div>
</div>

<p></p>

<div class="row">
    <div class="col-xs-8">
        <div id="collapseSparql" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSparql" style="font-size:10px;">
            <div class="panel-body">
                <p id="SPARQLquery">
                    &#35; Initial query <br />
                    PREFIX bp: &lt;http://www.biopax.org/release/biopax-level3.owl#&gt; <br />
                    PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; <br />
                    PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; <br />
                    CONSTRUCT {
                    <div style="margin-left: 10px">
                      ?tempReac rdf:type ?type ; bp:controlled ?controlled ; bp:controller ?controller ; bp:dataSource ?source ; bp:controlType ?controlType .<br />
                      ?controlled a ?controlledType ; bp:displayName ?controlledName ; bp:dataSource ?controlledsource .<br />
                      ?controller a ?controllerType ; bp:displayName ?controllerName ; bp:dataSource ?controllersource .<br />
                    </div>
                    } WHERE{ <br />
                    <div style="margin-left: 10px">
                      FILTER( (?controlledName = 'GENENAME'^^xsd:string) <br />
                            and (?controllerName != 'GENENAME'^^xsd:string)<br />
                            and (str(?source) != 'http://pathwaycommons.org/pc2/mirtarbase') ) .<br />
                      ?tempReac a bp:TemplateReactionRegulation .<br />
                      ?tempReac rdf:type ?type ; bp:controlled ?controlled ; bp:controller ?controller ; bp:controlType ?controlType ; bp:dataSource ?source .<br />
                      ?controlled bp:participant ?participant ; bp:dataSource ?controlledsource .<br />
                      ?participant bp:displayName ?controlledName; rdf:type ?controlledType .<br />
                      ?controller bp:displayName ?controllerName ; rdf:type ?controllerType ; bp:dataSource ?controllersource .<br />
                    </div>
                      }<br />
                    GROUP BY ?controlledName ?controllerName<br />
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-xs-10">
            <div id="edge-tooltip" style="height:20px; background-color: #fff; color: #fff; text-align: center;float: right;display: block"></div>
            <div id="cy" style="min-width: 400px; height:600px; display:block;"><div id="box"></div></div>
	</div>
        <div class="col-xs-2">
            <div class="panel panel-default" id="next-level-regulation" style="min-width:220px;font-size:12px;display:none;">
                <div class="panel-heading">
                    <label>Select entities to add their regulation connexion</label>
                </div>
                <div class="panel-body">
                    <div class="input-group" id="input-next-regulation"  style="max-height:310px;overflow: auto;display:block">
                        
                    </div>
                    <button class="btn btn-default" type="button" id="btnRunNextRegulation">Run</button>
                </div>
            </div>
            <div class="panel panel-default" id="graphe-legend" style="min-width:220px;font-size:12px;display:none;">
                <div class="panel-heading">
                    <label><i class="glyphicon glyphicon-info-sign"></i> Legend</label>
                </div>
                <div class="panel-body">
                    <div class="legend">
                        <i class="glyphicon glyphicon-arrow-right" style="color:#3399ff;"></i> = Activation <br />
                        <i class="glyphicon glyphicon-arrow-right" style="color:#000000;"></i> = Inhibition <br />
                        <i class="glyphicon glyphicon-arrow-right" style="color:#000000;"></i> = Unknown <br />
                        <i style="color:#3399ff;font-size: 19px;opacity:100;"><b>&#8674;</b></i> = TFs <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:red;display:inline-block;"></div> = initial input <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#FFBF00;display:inline-block;"></div> = last input <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #3366ff;display:inline-block;"></div> = DNA <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #00b33c;display:inline-block;"></div> = RNA <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #0A0A0A;display:inline-block;"></div> = Protein <br />
                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #EE6FE9;display:inline-block;"></div> = Complex <br />
                        <div class="hexagon" style="display:inline-block;"></div> = Small Moclecule <br />
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default" id="btn-download" style="margin-bottom:5px;display:none;">
                <a id="a" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </button>
        </div>
</div>

<br />