<div class="page-header">
    <h1>SyMeTRIC <small>data hub demonstration portal</small></h1>
</div>

<div class="row">
    <div class="col-sm-12 ">
        <p>Welcome to the SyMeTRIC Data Hub, a web application for biomedical data integration and reuse.</p>
        <p>Please authenticate with demo/demo to run the demos.</p>
    </div>
</div>

<!--                    <br>
                    <div class="row">
                        <div class="col-sm-4 ">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption text-center">
                                    <h4>Linked epidemiology demo</h4>
                                    <p>...</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 ">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption text-center">
                                    <h4>Systems Biology demo</h4>
                                    <p>...</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 ">
                            <a href="#" class="thumbnail not-active">
                                <img src="..." alt="...">
                                <div class="caption text-center">
                                    <h4>Transplantation demo</h4>
                                    <p>...</p>
                                </div>
                            </a>
                        </div>
                    </div>-->