<div class="page-header" style="font-family: 'Petrona', serif;">
    <h1 style="font-size:58px;"><span style="color:#65BDB1;">BRAvo </span><small>Biological netwoRk Assembly</small></h1>
</div>

<div class="row">
    <div class="col-sm-12 app-desc">
        <p class="home-desc">Welcome to BRAvo, a web application that aims to assemble regulatory and signaling networks.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 feature-content">
        <h3 class="feature-title"><b>Objectives</b></h3>
        <div>
            <p class="home-desc">
                With <b>BRAvo</b>, we propose a framework based on Semantic Web technologies. It addresses <i>(i)</i> the uniform identification of 
                multi-source biological entities, <i>(ii)</i> the description of labeled directed graphs through RDF, and <i>(iii)</i> the use of 
                <a href="http://www.biopax.org/">BioPAX</a> as a semantic reference.
            </p>
        </div>
    </div>
    
    <div class="col-sm-12 feature-content">
        <h3 class="feature-title"><b>Tools</b></h3>
        <div class="tools-list-group">
            <a href="#" id="btnRegulatoryNetwork">
                <div class="tools-list-group-text">
                    <p class="tools-list-group-title item-title text-center">Regulatory Network</p>
                    <p class="tools-list-group-description">
                      A gene regulatory network is a set of genes that interact with each other to control a specific cellular function. 
                      BRAvo Regulatory Network is an interactive tool to assemble step by step upstream regulatory networks.
                    </p>
                </div>
            </a>
        </div>
        
        <div class="tools-list-group">
            <a href="#" id="btnSignalingNetwork">
                <div class="tools-list-group-text">
                    <p class="tools-list-group-title item-title text-center">Signaling Network</p>
                    <p class="tools-list-group-description">
                      A signaling network involves various biological entities (genes, proteins, small molecules) that are connected by reactions 
                      (transcription factors, catalysis, phosphorylation).
                      BRAvo Signaling Network is an interactive tool to assemble step by step upstream signaling networks.
                    </p>
                </div>
            </a>
        </div>
        
        <div class="tools-list-group">
            <a href="#" id="btnBatchNetwork">
                <div class="tools-list-group-text">
                    <p class="tools-list-group-title item-title text-center">Batch Reconstruction</p>
                    <p class="tools-list-group-description">
                      BRAvo batch reconstruction provides access to a command line tool to assemble full upstream regulatory networks.
                    </p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-sm-12 feature-content center">
        <h3 class="feature-title"><b>Informations</b></h3>
        <div>
            <div class="btn-toolbar">
                <a href="/documentation">
                    <button type="button" class="btn btn-default btn-lg" style="color: #65BDB1;">
                        <span class="glyphicon glyphicon-book" style="font-size: 4.8em;"></span>
                    </button>
                </a>
                
                <a HREF="mailto:alban.gaignard@univ-nantes.fr">
                    <button type="button" class="btn btn-default btn-lg" style="color: #65BDB1;">
                        <i class="glyphicon glyphicon-envelope" style="font-size: 4.8em;"></i>
                    </button>
                </a>
                
                <a href="/about">
                    <button type="button" class="btn btn-default btn-lg" id="btnAbout" style="color: #65BDB1;">
                        <i class="glyphicon glyphicon-info-sign" style="font-size: 4.8em;"></i>
                    </button>
                </a>
                
            </div>
        </div>
    </div>
</div>