<div class="row">
	<div class="col-xs-12">
		<h3>Galaxy PROV exporter</h3>
		This demonstration aims at transforming your Galaxy analyis (histories) into a shareable provenance graph, based on the PROV vocabulary.
	</div>
</div>

<p></p>
<div class="row">
	<div class="col-xs-6">
		<label for="inputGalaxyUrl">Your Galaxy instance URL</label>
		<div class="input-group">
			<input type="text" class="form-control" id="inputGalaxyUrl" placeholder="http://galaxy-bird.univ-nantes.fr/galaxy/" value="http://galaxy-bird.univ-nantes.fr/galaxy/">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="btnGalaxyHist">Go!</button>
			</span>
		</div><!-- /input-group -->
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label for="inputKey">Your Galaxy API key</label>
			<input type="password" class="form-control" id="inputKey" placeholder="API key" value="dd3b7fce727d53ac00512ea19a8f5d4f">
		</div>
	</div>
</div>

<p></p>
<div class="row">
	<div class="col-xs-12">
		<p id="parProvGraph"></p>
	</div>
</div>


<p></p>
<div class="row">
	<div class="col-xs-12">
		<p id="parProvTriples"></p>
		<p id="parProvButtons"></p>
	</div>
</div>


<p></p>
<div class="row">
	<div class="col-xs-12">
		<!-- <table id="tableGalaxyHistories" class="table table-striped" style="table-layout:fixed; word-wrap:break-word">   -->
		<table id="tableGalaxyHistories" class="table table-striped" style="table-layout:fixed; word-wrap:break-word">  
			<thead>  
			</thead>  
			<tbody>  
			</tbody>  
		</table>
	</div>
</div>

<p></p>
<div class="row">
	<div class="col-xs-12">
		<div id="usageChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
</div>
