html,body {
    height:100%;
}

body{
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.row {
    padding-top: 20px;
}

#mainContainer{
    padding-bottom: 60px;
}
.app-desc{
    border-bottom: 1px solid #eee;
    margin: 10px 0 10px;
    padding-bottom: 30px;
}
.feature-content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.not-active {
    pointer-events: none;
    cursor: default;
}
.btn-lg{
    margin-right: 50px;
    margin-left: 50px;
}
.btn-toolbar{
    text-align: center;
}
.feature-title{
    text-align: center;
    margin-bottom: 25px;
}
.tools-list-group {
    border-style: solid;
    border-width: 1px;
    border-color: #95a5a6;
    margin: auto auto 1.5em;
    position: relative;
    padding: 0;
    width: 40%;
}
.tools-list-group .tools-list-group-text {
  color: rgb(37, 52, 67);
  background: #f5f5f5;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  overflow: hidden;
  padding: 1.5em;
  border-right-style: double;
}
.tools-list-group .tools-list-group-text .tools-list-group-title {
  margin-bottom: 1.375rem;
}
.tools-list-group .tools-list-group-item .tools-list-group-item-text .tools-list-group-item-description {
  text-align: left;
}
.tools-list-group .tools-list-group-text .tools-list-group-description-footer {
  position: absolute;
  margin: 0.5em;
  right: 1em;
}
.tools-list-group .tools-list-group-item-meta {
  display: inline;
  position: absolute;
  z-index: 1;
  top: -5%;
  right: 60%;
  bottom: auto;
  left: auto;
  padding: 1em;
}
.item-title {
    font-weight: bold;
    font-size: 20px;
}
.node text {
    /*pointer-events: none;*/
    font: 10px sans-serif;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
    fill: none;
}

/* For Leaflet web cartography */

#map { height: 300px; }

.info {
    padding: 6px 8px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    font: 12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h5 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.5;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: auto;
    font-size: 8pt;
}

#activation {
    line-color: '#61bffc';
}

#sendingQuery, #errorQuery, #emptyQuery, #noResult {
    margin-top: 30px;
}
.diamond:after {
    content: ''; position: absolute; left: -8px; top: 4px; width: 0; height: 0; border: 8px solid transparent; border-top: 10px solid #666;
}
